{% extends "neurocity/base.html" %}
{% load i18n %}

{% block content %}

<h2>Credits</h2>

<hr>

<h3>Project Conception</h3>

<a href="http://www.janelia.org/people/scientist/stephan-gerhard" target="_blank">Stephan Gerhard</a>

<h3>Support and Feedback</h3>

Albert Cardona, Casey Schneider-Mizell <a href="http://www.janelia.org/lab/cardona-lab" target="_blank">(Cardona lab)</a>

<h3>EM Preparation &amps; Imaging</h3>

<a href="http://www.janelia.org/people/scientist/richard-fetter" target="_blank">Richard Fetter</a>

<h3>Image Registration</h3>

Stephan Saalfeld, Richard Fetter, Albert Cardona, and Pavel Tomancak. "Elastic volume reconstruction from series of ultra-thin microscopy sections", Nature Methods 2012, 
<a href="http://www.nature.com/nmeth/journal/v9/n7/full/nmeth.2072.html" target="_blank">doi:10.1038/nmeth.2072</a>

<h3>Membrane Classification</h3>

Dan Ciresan, Alessandro Giusti, Luca Gambardella, Juergen Schmidhuber. "Deep Neural Networks Segment Neuronal Membranes in Electron Microscopy Images", NIPS 2012, <a href="http://www.idsia.ch/~ciresan/data/nips2012.pdf" target="_blank">see paper</a>

<h3>Image Segmentation</h3>

Jan Funke, Björn Andres, Fred A. Hamprecht, Albert Cardona, Matthew Cook. "Efﬁcient Automatic 3D-Reconstruction of Branching Neurons from EM Data", CVPR 2012, <a href="http://www.ini.uzh.ch/~funke/publications/Funke2012.pdf" target="_blank">see paper</a>

<h3>IT Infrastructure</h3>

<a href="http://www.janelia.org/people/prior-publication/goran-ceric" target="_blank">Goran Ceric</a>, <a href="http://www.janelia.org/people/ken-carlile" target="_blank">Ken Carlile</a> (HHMI Janelia Farm Scientific Computing Systems)

{% endblock %}
