{% load url from future %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mapping connectomes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NeuroCity - Mapping connectomes, slice by slice">
    <meta name="author" content="Stephan Gerhard">

    <script src="{{ STATIC_URL }}libs/jquery/jquery.js"></script>
    <script src="{{ STATIC_URL }}neurocity/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}neurocity/js/uni-form.jquery.js" type="text/javascript"></script>
    
    <link href="{{ STATIC_URL }}neurocity/uni_form/uni-form.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}neurocity/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}neurocity/css/bootstrap-responsive.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}neurocity/css/bootstrap.icon-large.css" type="text/css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
      }
    </style>
    
    <!-- <link href="{{ STATIC_URL }}neurocity/css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- TODO: Fav and touch icons -->
    <!-- <link rel="shortcut icon" href="favicon.png"> -->

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#" style="">
            <!-- <img class=".." src="..."> padding-top: 6px; padding-bottom: 0px; for style-->
            NeuroCity
          </a>
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li class="{{ nc_home_active }}"><a href="{% url 'nc_home' %}"><i class="icon-home"></i> Home</a></li>
            <li class="divider-vertical"></li>
            <li class="{{ nc_dashboard_active }}"><a href="{% url 'nc_dashboard' %}"><i class="icon-user"></i> Leaderboard</a>
            <li class="divider-vertical"></li>
            {% if user.is_authenticated %}
            <li class="{{ nc_match_active }}"><a href="{% url 'nc_match' %}"><i class="icon-more-windows"></i><i class="icon-align-right"></i> Match!</a></li>
            <li class="divider-vertical"></li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-chevron-right"></i>  About <b class="caret"></b></a>

              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                <li><a href="{% url 'nc_about' %}">Team</a></li>
                <li><a href="{% url 'nc_contact' %}">Contact</a></li>
                <li><a href="{% url 'nc_terms' %}">Terms</a></li>
              </ul>
            </li> 
            <li class="divider-vertical"></li>
          </ul>

          <ul class="nav pull-right">
            {% if user.is_authenticated %}
                <li class="dropdown ">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.first_name }} {{ user.last_name }} <b class="caret"></b></a>
                    
                  <ul class="dropdown-menu" align="right">
                    <li><a href="{% url 'nc_userstatistics' %}">Statistics</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'nc_profile' %}">Profile</a></li>
                    <li><a href="{% url 'account_email' %}">E-Mail</a></li>
                    <li><a href="{% url 'account_change_password' %}">Password</a></li>
                    <li><a href="{% url 'set_language' %}">Language</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                  </ul>
                </li> 
            {% else %}
                <li><a href="/accounts/signup">Sign up</a></li>
                <li><a href="/accounts/login">Sign in</a></li>
            {% endif %}
          </ul>


        </div>
      </div>
    </div>

      <div class="container">
    
          {% block content %}
          {% endblock %}

      </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_TRACKING_ID }}' ]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>
