{% load url from future %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NeuroCity - Mapping brain connectivity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NeuroCity - Mapping brain connectivity, slice by slice">
    <meta name="author" content="Stephan Gerhard">

    <script src="{{ STATIC_URL }}libs/jquery/jquery.js"></script>
    <script src="{{ STATIC_URL }}neurocity/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}neurocity/js/uni-form.jquery.js" type="text/javascript"></script>

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}neurocity/uni_form/uni-form.css" type="text/css" />
    
    <link href="{{ STATIC_URL }}neurocity/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}neurocity/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}neurocity/css/style.css" title="home">

      <style type="text/css">
      body {
        padding-top: 90px;
        /*padding-bottom: 40px;*/
      }
    </style>  

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- TODO: Fav and touch icons -->
    <!-- <link rel="shortcut icon" href="favicon.png"> -->
  </head>

  <body>

    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">NeuroCity</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <!-- TODO active set  class="active" -->
                <li class="{{ nc_home_active }}"><a href="{% url 'nc_home' %}">Home</a></li>
                <li class="{{ nc_learn_active }}"><a href="{% url 'nc_learn' %}">Get started</a></li>
                <li class="{{ nc_tutorial_active }}"><a href="{% url 'nc_tutorial' %}">Tutorial</a></li>
                <li class="{{ nc_dashboard_active }}"><a href="{% url 'nc_dashboard' %}">Dashboard</a>
                  <ul class="dropdown-menu">
                      <li>Unclear segments</li>
                      <li>Statistics</li>
                  </ul>
                </li>
                <li class="{{ nc_contribute_active }}"><a href="{% url 'nc_contribute' %}">Contribute!</a></li>
              </ul>

            {% if user.is_authenticated %}

            <div class="navbar-form pull-right">
              <ul class="nav">
                <li class="dropdown ">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {% trans "Logged in as " %} {{ user.username }}&nbsp;&nbsp;<img src="{{ STATIC_URL }}neurocity/flags/{{ flag }}.gif"></a>
                    
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'nc_userstatistics' %}">Statistics</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'nc_profile' %}">Profile</a></li>
                    <li><a href="{% url 'account_email' %}">E-Mail</a></li>
                    <li><a href="{% url 'account_change_password' %}">Password</a></li>
                    <li><a href="{% url 'set_language' %}">Language</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                  </ul>
                </li> 
              </ul>
            </div>
              
            {% else %}
              
              <div class="navbar-form pull-right">
                <a href="/accounts/signup" role="button" class="btn btn-small btn-inverse" data-toggle="modal">Sign up</a>
                  <a href="/accounts/login" 
                    role="button" class="btn btn-small btn-inverse" data-toggle="modal">Sign in</a>
                  
              </div>
            {% endif %}

            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->



<div class="container-fluid">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">

    {% block content %}
    {% endblock %}
  </div>

  <!-- <hr> -->

  <div class="footer" align="center">
    <p>
      <a href="{% url 'nc_about' %}">About</a> |
      <a href="{% url 'nc_terms' %}">Terms</a> |
      <a href="{% url 'nc_contact' %}">Contact</a>
    </p>
  </div>

</div>


  </body>
</html>
