{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}neurocity/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}neurocity/css/style.css" title="home">

    {% block extrascript %}
    {% endblock %}
  </head>
  <body>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
        <div class="header-navigation">

        {% if user.is_authenticated %}
            <a href="{% url 'account_email' %}">Change E-mail</a> |
            <a href="{% url 'account_logout' %}">Sign Out</a>
        {% else %}
            <a href="{% url 'account_login' %}">Sign In</a> |
            Sign In with
                <a class="socialaccount_provider facebook" href="/accounts/facebook/login/">Facebook</a>
                <a class="socialaccount_provider google" href="/accounts/google/login/">Google</a>
                <a href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}

        <div class="btn-group">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>

      </div>

    </div>
    <div class="span10">
      
{% block main %}
{% endblock %}

    </div>
  </div>
</div>



    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}neurocity/js/bootstrap.min.js"></script>    
  </body>
</html>
