{% extends "neurocity/base.html" %}
{% load i18n %}

{% block content %}
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Why is this a bad match?</h3>
  </div>
  <div class="modal-body">
    <!-- TODO: select a category of unclear -->
    <label>
      <input type="checkbox" name="reason" id="more-than-one-candidate" value="more-than-one-candidate"> More than one neuron candidate</label>
    <label>
      <input type="checkbox" name="reason" value="not-fit-boundary"> Bad fit to membrane</label>
    <label>
      <input type="checkbox" name="reason" value="candidate-shifted"> Neuron candidate is shifted</label>
    <label>
      <input type="checkbox" name="reason" value="should-be-branch"> Should be branch</label>
    <label>
      <input type="checkbox" name="reason" value="not-completely-covered"> Neuron candidate match, but not covered completely</label>
    <label>
      <input type="checkbox" name="reason" value="only-mitochondria"> Only mitochondria is covered</label>
    <label>
      <input type="checkbox" name="reason" value="good-match-but-small-dent"> Almost good match, but small dent</label>
    <input type="checkbox" name="reason" value=""> ...</label>
    <br />
    Other reason: <input type="text" id="commentfield" maxlength="50" size="50">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" id="submitvote">Submit</button>
  </div>
</div>

<div id="help" style="position:absolute; right:80px; top:100px">
  <p align="right">
    {% if not nc_segmentonly %}
      <a class="btn btn-large btn-primary btn-success" href="#" id='buttongood'>Good match (A)</a><br /><br />
      <a class="btn btn-large btn-primary btn-danger" href="#" id='buttonbad'>Bad match (S)</a><br />
    {% endif %}
    <br />
    <a class="btn btn-medium btn-primary btn-info" href="#" id='buttontoggle'>Toggle (T)</a><br />
    {% if not nc_segmentonly %}
    <a class="btn btn-medium btn-primary btn-info" href="#" id='buttonskip'>Skip (X)</a><br />
    <a class="btn btn-medium btn-primary btn-info" href="#" id='buttongeturl'>Share link</a><br />
    <br />
    <div id="button-toggle1" align="right">1: Bad fit to membrane</div>
    <div id="button-toggle2" align="right">2: More than one neuron candidate</div>
    <div id="button-toggle3" align="right">3: Neuron candidate(s) shifted</div>
    <div id="button-toggle4" align="right">4: Should be a branch</div>
    <div id="button-toggle5" align="right">5: Neuron candidate match, but not covered completely</div>
    <div id="button-toggle6" align="right">6: Only mitochondria is covered</div>
    <div id="button-toggle7" align="right">7: Almost good match, but small dent</div>
    <div id="button-toggle8" align="right">8: </div>
    <div id="button-toggle9" align="right">9: </div>
    {% endif %}
  </p>
</div>

<div align="left">
  <table>
    <tr>
      <td>
        <canvas id="c2" style="border:0px solid #aaa"></canvas>
      </td>
      <td>
        <canvas id="c3" style="border:0px solid #aaa"></canvas>
      </td>
    </tr>
  </table>

  <!-- TODO: additional canvases with adjacent slices for more context -->
  <!-- <canvas id="c1" width="200" height="200" style="border:1px solid #aaa"></canvas> -->
  <!-- <canvas id="c4" width="200" height="200" style="border:1px solid #aaa"></canvas> -->

  <br />

  <h4><div id='segmentcost' /></h4>

</div>

<script type="text/javascript" src="{{ STATIC_URL }}libs/fabric.js/all.js"></script>
<script type="text/javascript">

    var get_url = function(tile_source_type, tile_base_url, zoom_level, sectionindex, yi, xi ) {
      if( tile_source_type === 1) {
        return tile_base_url+sectionindex+'/'+yi+'_'+xi+'_'+zoom_level+'.jpg';
      } else if( tile_source_type === 5 ) {
        return tile_base_url+'/'+zoom_level+'/'+sectionindex+'/'+yi+'_'+xi+'.jpg';
      }
    }

    var tile_base_url = "{{ tile_base_url|safe|escapejs }}",
        tile_source_type = eval("{{ tile_source_type|safe|escapejs }}"),
        zoom_level = eval("{{ zoom_level|safe|escapejs }}");

    var canvas2 = new fabric.Canvas('c2'),
        canvas3 = new fabric.Canvas('c3'),
        border = 80, show_slices = true,
        radius = 300, origin_slices = [], target_slices = [],
        start;
      
    var button_toggle = [false, false, false, false, false,
      false, false, false, false, false];

    var segmentsequence = eval("{{ segmentsequence|safe|escapejs }}");

    var current_segment_index = 0;

    var current_segment = segmentsequence[ current_segment_index ];

    var next_segment = function() {
      if( current_segment_index + 1 === segmentsequence.length ) {
        location.reload();
        return;
      }
      current_segment_index++;
      current_segment = segmentsequence[ current_segment_index ];

      clear_canvas();
      update_data( current_segment['data'] );
    }

    var clear_canvas = function() {
      canvas2.clear();
      canvas3.clear();
    }

    var update_data = function( data ) {
           origin_slices = [];
           target_slices = [];
           
           $('#segmentcost').text( 'Artificial Intelligence cost: ' + current_segment['cost'] );

           canvas2.setWidth(data['totalbb']['width']+2*border);
           canvas2.setHeight(data['totalbb']['height']+2*border);
           canvas2.renderAll();
           canvas2.selection = false;

           canvas3.setWidth(data['totalbb']['width']+2*border);
           canvas3.setHeight(data['totalbb']['height']+2*border);
           canvas3.renderAll();
           canvas3.selection = false;

           tile_col_min = Math.floor( (data['totalbb']['min_x'] - border) / data['tile_width']);
           tile_col_max = Math.ceil( (data['totalbb']['max_x'] + border) / data['tile_width'] );
           tile_row_min = Math.floor( (data['totalbb']['min_y'] - border) / data['tile_height'] );
           tile_row_max = Math.ceil( (data['totalbb']['max_y'] + border) / data['tile_height'] );
           
           tile_left_offset = (data['totalbb']['min_x'] - border) - tile_col_min * data['tile_width'];
           tile_top_offset = (data['totalbb']['min_y'] - border) - tile_row_min * data['tile_height'];

           var build_callback2 = function (xi, yi) {
                return function(img) {
                    img.set({
                      left: -tile_left_offset + data['tile_width'] / 2. + data['tile_width'] * (xi - tile_col_min),
                      top: -tile_top_offset + data['tile_height'] / 2. + data['tile_height'] * (yi - tile_row_min),
                    });
                    img.hasControls = img.hasBorders = false;
                    img.lockMovementX = img.lockMovementY = true;
                    canvas2.add(img).sendToBack(img);
                };
              },
              build_callback3 = function (xi, yi) {
                return function(img) {
                    img.set({
                      left: -tile_left_offset + data['tile_width'] / 2. + data['tile_width'] * (xi - tile_col_min),
                      top: -tile_top_offset + data['tile_height'] / 2. + data['tile_height'] * (yi - tile_row_min),
                    });
                    img.hasControls = img.hasBorders = false;
                    img.lockMovementX = img.lockMovementY = true;
                    canvas3.add(img).sendToBack(img);
                };
              };

           for(var xi = tile_col_min; xi < tile_col_max; xi++) {
            for(var yi = tile_row_min; yi < tile_row_max; yi++) {
              fabric.Image.fromURL( get_url( tile_source_type, tile_base_url, zoom_level, current_segment['origin_section'], yi, xi), build_callback2(xi, yi));
              fabric.Image.fromURL( get_url( tile_source_type, tile_base_url, zoom_level, current_segment['target_section'], yi, xi), build_callback3(xi, yi));
            }
           }

           var slice_callback2 = function (slice2_left_offset, slice2_top_offset) {
                return function(img) {
                    img.set({
                      left: slice2_left_offset,
                      top: slice2_top_offset,
                    });
                    img.hasControls = img.hasBorders = false;
                    img.lockMovementX = img.lockMovementY = true;
                    img.opacity = 0.8;
                    canvas2.add(img).bringToFront(img);
                    origin_slices.push( img );
                };
              };

           // add slices to canvas, need to be in the foreground
           for(var sliceidx = 0; sliceidx < data['originsection'].length; sliceidx++) {
              var slice_left_offset = data['originsection'][sliceidx]['min_x'] - data['totalbb']['min_x'] + border + data['originsection'][sliceidx]['width'] / 2. ,
                slice_top_offset = data['originsection'][sliceidx]['min_y'] - data['totalbb']['min_y'] + border  + data['originsection'][sliceidx]['height'] / 2.;
              fabric.Image.fromURL(data['originsection'][sliceidx]['slicepath'], 
                slice_callback2( slice_left_offset, slice_top_offset ) );
           }

           var slice_callback3 = function (slice2_left_offset, slice2_top_offset) {
                return function(img) {
                    img.set({
                      left: slice2_left_offset,
                      top: slice2_top_offset,
                    });
                    img.hasControls = img.hasBorders = false;
                    img.lockMovementX = img.lockMovementY = true;
                    img.opacity = 0.8;
                    canvas3.add(img).bringToFront(img);
                    target_slices.push( img );
                };
              };

           for(var sliceidx = 0; sliceidx < data['targetsection'].length; sliceidx++) {
              var slice2_left_offset = data['targetsection'][sliceidx]['min_x'] - data['totalbb']['min_x'] + border + data['targetsection'][sliceidx]['width'] / 2. ,
                slice2_top_offset = data['targetsection'][sliceidx]['min_y'] - data['totalbb']['min_y'] + border  + data['targetsection'][sliceidx]['height'] / 2.;
              fabric.Image.fromURL(data['targetsection'][sliceidx]['slicepath'], 
                slice_callback3( slice2_left_offset, slice2_top_offset ));
           }
    }

    var LoadData = function( index ) {
      if( index == segmentsequence.length ) {
        return;
      }
      $.ajax({
        "dataType": 'json',
        "type": "GET",
        "cache": false,
        "url": 'segment-bb',
        "data": {
          'originsection': segmentsequence[ index ]['origin_section'],
          'targetsection': segmentsequence[ index ]['target_section'],
          'segmentid': segmentsequence[ index ]['id'],
        },
        "success": function(data) {
          segmentsequence[ index ]['data'] = data;
          index++;
          LoadData( index );
        }
      });
    }

    $.ajax({
      "dataType": 'json',
      "type": "GET",
      "cache": false,
      "url": 'segment-bb',
      "data": {
        'originsection': current_segment['origin_section'],
        'targetsection': current_segment['target_section'],
        'segmentid': current_segment['id'],
      },
      "success": function(data) {
        update_data( data );
        LoadData( 1 );
      }
    });

    var hide_slices_image = function() {
      for(var idx = 0; idx < origin_slices.length; idx++) {
        origin_slices[ idx ].setOpacity( 0.0 );
      }
      for(var idx = 0; idx < target_slices.length; idx++) {
        target_slices[ idx ].setOpacity( 0.0 );
      }
      canvas2.renderAll();
      canvas3.renderAll();
    }

    var show_slices_image = function() {
      for(var idx = 0; idx < origin_slices.length; idx++) {
        origin_slices[ idx ].setOpacity( 0.9 );
      }
      canvas2.renderAll();
      for(var idx = 0; idx < target_slices.length; idx++) {
        target_slices[ idx ].setOpacity( 0.9 );
      }
      canvas2.renderAll();
      canvas3.renderAll();
    }

    var vote = function( segmentkey, value, comment ) {
      var data = {
            segmentkey: segmentkey,
            vote: value,
          };
      
      if (comment !== undefined) {
        data['comment'] = comment;
      }

      data['elapsed_time'] = new Date().getTime() - start;

      $.ajax({
        "dataType": 'json',
        "type": "POST",
        "cache": false,
        "url": 'segment-vote',
        "data": data,
        "success": function(data) {
           // location.reload();
           next_segment();
        }
      });

    }

    var skip_segment = function() {
      // location.reload();
      self.next_segment();
    }

    var toggle_slice = function() {
      if( show_slices ) {
        show_slices = false;
        hide_slices_image();
      } else {
        show_slices = true;
        show_slices_image();
      }
    }

    var toggle_note = function( value ) {
      if( button_toggle[value - 1] ) {
        $('#button-toggle' + value).css({'background-color' : ''});
        button_toggle[value - 1] = false;
      } else {
        $('#button-toggle' + value).css({'background-color' : 'yellow'});
        button_toggle[value - 1] = true;
      }
    }

    var get_comment = function() {
      var comment = '';
      if( button_toggle[0] )
        comment += '...';
      return comment;

// TODO: 
// more-than-one-candidate
// not-fit-boundary
// candidate-shifted
// should-be-branch
// not-completely-covered
// only-mitochondria
// good-match-but-small-dent

    }

    var register_keyevents = function() {
      $(document).on('keyup', function(e) { 

        {% if not nc_segmentonly %}

          switch( e.keyCode ) {
            case 65:
              vote( current_segment['id'], 1 );
              break;
            case 83:
              vote( current_segment['id'], 2, get_comment() );
              break;
            case 88:
              skip_segment();
              break;
            case 49:
              toggle_note( 1 );
              break;
            case 50:
              toggle_note( 2 );
              break;
            case 51:
              toggle_note( 3 );
              break;
            case 52:
              toggle_note( 4 );
              break;
            case 53:
              toggle_note( 5 );
              break;
            case 54:
              toggle_note( 6 );
              break;
            case 55:
              toggle_note( 7 );
              break;

          }

        {% endif %}
          if (e.keyCode == 84) {
            toggle_slice();
          }
      });      
    }

    $('#buttonskip').on('click', function() {
      skip_segment();
    });

    $('#buttongeturl').on('click', function() {
      window.open( 'segmentonly?segmentkey=' + current_segment['id'] )
    });

    $('#buttontoggle').on('click', function() {
      toggle_slice();
    });

    $('#buttongood').on('click', function() {
      vote( current_segment['id'], 1 );
    });

    $('#buttonbad').on('click', function() {
      vote( current_segment['id'], 2, get_comment() );
    });

    register_keyevents();

    $(document).ready(function() {
      start = new Date().getTime();
    });
  
</script>

{% endblock %}

