{% extends "neurocity/base.html" %}
{% load i18n %}

{% block content %}

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a comment</h3>
  </div>
  <div class="modal-body">
    Tell us why you think the segment is unclear?<br />
    <input type="text" id="commentfield" maxlength="50" size="50">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="submitvote">Submit vote</button>
  </div>
</div>

<div align="center">

  <a class="btn btn-large btn-primary btn-success" href="#" id='buttongood'>Good (A)</a>
  <a class="btn btn-large btn-primary btn-warning" href="#" id='buttonunclear'>Unclear (S)</a>
  <a class="btn btn-large btn-primary btn-danger" href="#" id='buttonbad'>Bad (D)</a>
  <br /><br />

  <table>
    <tr>
      <td>
        <canvas id="c2" style="border:1px solid #aaa"></canvas>
        <!-- <img src="http://localhost:8000/segment/image?originsection={{ originsection }}&targetsection={{ targetsection }}&segmentid={{ segmentid }}&edge=0"> -->
      </td>
      <td>
        <canvas id="c3" style="border:1px solid #aaa"></canvas>
        <!-- <img src="http://localhost:8000/segment/image?originsection={{ originsection }}&targetsection={{ targetsection }}&segmentid={{ segmentid }}&edge=1"> -->
      </td>
    </tr>
  </table>

  <!-- <canvas id="c1" width="200" height="200" style="border:1px solid #aaa"></canvas> -->
  
  
  <!-- <canvas id="c4" width="200" height="200" style="border:1px solid #aaa"></canvas> -->

  <br />

  <h4>AI guess: {{ aiguess }}</h4>

  <script type="text/javascript" src="{{ STATIC_URL }}libs/fabric.js/all.modified.js"></script>
  <script>

var canvas2 = new fabric.Canvas('c2'),
    canvas3 = new fabric.Canvas('c3'),
    border = 80;

var radius = 300;

      $.ajax({
        "dataType": 'json',
        "type": "GET",
        "cache": false,
        "url": 'segment-bb',
        "data": {
          'originsection': {{ originsection }},
          'targetsection': {{ targetsection }},
          'segmentid': {{ segmentid }},
        },
        "success": function(data) {
           console.log('success bb', data ); //data['min_x'], data['max_x'], data['min_y'], data['max_y'])
           canvas2.setWidth(data['totalbb']['width']+2*border);
           canvas2.setHeight(data['totalbb']['height']+2*border);
           canvas2.renderAll();

           canvas3.setWidth(data['totalbb']['width']+2*border);
           canvas3.setHeight(data['totalbb']['height']+2*border);
           canvas3.renderAll();

           tile_col_min = Math.floor(data['totalbb']['min_x'] / data['tile_width'] );
           tile_col_max = Math.ceil(data['totalbb']['max_x'] / data['tile_width'] );
           tile_row_min = Math.floor(data['totalbb']['min_y'] / data['tile_height'] );
           tile_row_max = Math.ceil(data['totalbb']['max_y'] / data['tile_height'] );

           console.log('tile_col_min', tile_col_min, tile_col_max, tile_row_min, tile_row_max )
           for(var xi = tile_col_min; xi < tile_col_max; xi++) {
            for(var yi = tile_row_min; yi < tile_row_max; yi++) {

              // 'http://localhost:8000/segment/image?originsection={{ originsection }}&targetsection={{ targetsection }}&segmentid={{ segmentid }}&edge=0'
              fabric.Image.fromURL('http://localhost:8000/static/stack2/raw/{{ originsection }}/'+yi+'_'+xi+'_0.jpg', function(img) {
                img.set({
                  left: 0,
                  top: 0,
                  // clipTo: function (ctx) {
                  //   ctx.arc(0, 0, radius, 0, Math.PI * 2, true);
                  // }
                });
                canvas2.add(img).setActiveObject(img);
              });

              fabric.Image.fromURL('http://localhost:8000/static/stack2/raw/{{ targetsection }}/'+yi+'_'+xi+'_0.jpg', function(img) {
                img.set({
                  left: 0,
                  top: 0,
                  // clipTo: function (ctx) {
                  //   ctx.arc(0, 0, radius, 0, Math.PI * 2, true);
                  // }
                });
                canvas3.add(img).setActiveObject(img);
              });

            }
           }

           // add slices to canvas, need to be in the foreground
           for(var sliceidx = 0; sliceidx < data['originsection'].length; sliceidx++) {
              fabric.Image.fromURL(data['originsection'][sliceidx]['slicepath'], function(img) {
                img.set({
                  left: 20,
                  top: 20,
                });
                canvas2.add(img).setActiveObject(img);
              });
           }

           for(var sliceidx = 0; sliceidx < data['targetsection'].length; sliceidx++) {
              fabric.Image.fromURL(data['targetsection'][sliceidx]['slicepath'], function(img) {
                img.set({
                  left: 20,
                  top: 20,
                });
                canvas3.add(img).setActiveObject(img);
              });
           }


        }
      });

    var segmentkey = {{ segmentkey }};

    var vote = function( segmentkey, value, comment ) {
      var data = {
            segmentkey: segmentkey,
            vote: value,
          };
      if (comment !== undefined)
        data['comment'] = comment;
      $.ajax({
        "dataType": 'json',
        "type": "POST",
        "cache": false,
        "url": 'segment-vote',
        "data": data,
        "success": function(data) {
           location.reload();
        }
      });

    }

    var show_unclear_modal = function() {
      $(document).off('keyup');
      $('#commentfield').val('');
      $('#myModal').on('shown', function() {$('#commentfield').focus();});
      $('#myModal').modal('show');
    }

    var register_keyevents = function() {
      $(document).on('keyup', function(e) { 
        console.log('keyup');
        if (e.keyCode == 65) { 
          vote( segmentkey, 1 );
        }
        if (e.keyCode == 83) {
          show_unclear_modal();
        }
        if (e.keyCode == 68) {
          vote( segmentkey, 3 );
        }
      });      
    }

    $('#buttongood').on('click', function() {
      vote( segmentkey, 1 );
    });

    $('#buttonunclear').on('click', function() {
      show_unclear_modal();
    });

    $('#buttonbad').on('click', function() {
      vote( segmentkey, 3 );
    });

    $('#submitvote').on('click', function() {
      $('#myModal').modal('hide');
      vote( segmentkey, 2, $('#commentfield').val() );
    });

    $('#myModal').on('hidden', function() {
      console.log('hidden')
      register_keyevents();
    });

    register_keyevents();

  </script>

</div>

{% endblock %}

