{% extends "neurocity/base.html" %}
{% load i18n %}

{% block content %}

<div align="center">

  <a class="btn btn-large btn-primary btn-success" href="">Good (A)</a>
  <a class="btn btn-large btn-primary btn-warning" href="">Unclear (S)</a>
  <a class="btn btn-large btn-primary btn-danger" href="">Bad (D)</a>
  <br /><br />

  <table>
    <tr>
      <td><img src="http://localhost:8000/segment/image?originsection={{ originsection }}&targetsection={{ targetsection }}&segmentid={{ segmentid }}&edge=0"></td>
      <td><img src="http://localhost:8000/segment/image?originsection={{ originsection }}&targetsection={{ targetsection }}&segmentid={{ segmentid }}&edge=1"></td>
    </tr>
  </table>

  <br />

  <h4>Cost: {{ cost }}</h4>

  <script>

    $(document).keyup(function(e) { 
      console.log( e.keyCode, e)
      if (e.keyCode == 65) { console.log('left');  location.reload(); }
      if (e.keyCode == 83) { console.log('down'); }
      if (e.keyCode == 68) { console.log('right'); } 

    });
  </script>

</div>

{% endblock %}

