{% extends "neurocity/base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}

  <h2>{% trans "Welcome to NeuroCity!" %}</h2>
  <table cellpadding="20">
  	<tr>
  		<td width="200px"><img src="{{ STATIC_URL }}neurocity/brain/neurocity2.png" width="300"></td>
  		<td>
        <p class="lead">
        A <a href="http://en.wikipedia.org/wiki/Connectome" target="_new">connectome</a> is a map of all the neurons and their connections in the brain.<br />
        <br />
        Join the <strong>NeuroCity</strong> <a href="http://en.wikipedia.org/wiki/Citizen_science" target="_new">citizien science</a> project to map connectomes in various species to help advance neuroscience research.<br />
        <br />
        </p>
    <!--  -->
  	<!-- TODO Example of a neuron reconstructed -->
  		</td>
  	</tr>
  </table>

{% endblock %}
